<div class="text-right mb-10">
    <button type="button">@Html.ActionLink("Widok Lista", "Index")</button>
    <button type="button">@Html.ActionLink("Widok Kafelkowy", "IndexTiles")</button>
</div>


